
.form-inner {

  
}

.button-section1 {

   margin-left: 2rem;
   width: 150px;
   min-width: 200px;
   padding: 8px;
   padding-left: 2.5rem;
   border: 3px solid blue;
   border-radius: 20px;
   margin-bottom: 10px;
 } 

 .form-group1 {
    display: flex;
    color: black;
    text-decoration: underline;
    margin-bottom: 5px;
 }
