.footer {
  &__top{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
  }
  &__Icons{
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 16px;
    :nth-child(1){
      position: relative;
      top: 5px;
    }
  }
  &__first{
    display: flex;
    flex-direction: column;
    :nth-child(1){
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
  &__second {
    display: flex;
    flex-direction: column;
    :nth-child(1){
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
  &__third {
    display: flex;
    flex-direction: column;
    :nth-child(1){
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
  &__fourth {

    :nth-child(1){
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
  
  &__bottom{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    :nth-child(1){
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 1px;
    }

  }
  &__bottomSpan {
    color: lightblue;
  }
  &__bottomSection{
    display: flex;
    gap: 10px;
    :nth-child(1){
      text-decoration: underline;
    }
    :nth-child(2){
      text-decoration: underline;
    }
  }
  &__companyAddsm{
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .footer{

    &__companyAdd {
      display: none;
      background-color: red;
    }
    &__companyAddsm {
      background-color: red;
    }
    &__top{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      border-top: 2px solid gray;
      border-bottom: 2px solid gray;
    }

    &__first {
      margin-top: 5px;
      font-weight: 250;
  
    }

    &__second {
      margin-top: 15px;
      font-weight: 250;
  
    }

    &__third {
      margin-top: 15px;
      font-weight: 250;
  
    }

    
    &__fourth {
      margin-top: 20px;
      font-weight: 250;
  
    }

    &__bottom {
       display: flex;
       flex-direction: column-reverse;
       align-items: center;
      //  padding: 5px;
       gap: 15px;
    }
    &__bottomText {
      display: none;
    } 
    &__bottomSpan {
      display: none;
    }

    &__bottomSection {
      font-weight: 500;
    }

  }
}