

.header {
  display: flex;
  justify-content: space-between;
  background: transparent;
  border-bottom: 2px solid grey;
  &__hover {
    display: flex;  
    position: absolute;
    top: 3.7rem;
    right: 3rem;
    padding-left: 3rem;
    margin-top: 2rem;
    border: 1px solid gray;
    background-color: white;
    width: 400px;
    text-decoration: none;
  }
  &__Cartbag {
    position: relative;
    :nth-child(2){
      position: absolute;
      background-color: black;
      color: white;
      top: -10px;
      left: 12px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      text-align: center;
    }
  }

  &__logo {
    font-weight: 600;
    padding-left: 15px;
    font-size: 20px;
    
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 3px;
    a:hover {
      text-decoration: none;
    }

  }

  
  &__StartSpan {
    color: lightblue; 
    letter-spacing: 3px;

  }

  &__Center {
    display: flex;
    color: white;
    width: 20rem;
    justify-content: space-around;
    padding-top:30px;
    padding-bottom:30px;
    list-style-type: none;
    :nth-child(1){
      text-decoration: none;
      color: black;
    }
    
  }

  &__Last {
    display: flex;
    width: 14rem;
   
    justify-content: space-around;
    align-items: center;

    &__search {
      display: flex;
      width: 5rem;
      justify-content: space-between;
      align-items: center;
    
    }

    &__user {
      display: flex;
      width: 4.5rem;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.headerSm {
  display: none;
}


@media only screen and (max-width: 720px) {
   .header{
      display: none;
   }
   .headerSm {
    display: flex;
    background: transparent;
    border-bottom: 2px solid grey;
    justify-content: space-between;
    padding: 20px 0;
    &__last {
      display: flex;
      gap: 20px;
    }
    
    &__middle {
    color: lightblue;
    }
    &__text {
      letter-spacing: 5px;
    }
  }

 
  .headerSmSidebar {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 175px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgb(163, 163, 128);
    :nth-child(1){
      margin-left: 150px;
      font-weight: 600;
      font-size: 20px;
      padding: 5px;
    }
  }
  
}