/* .App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
} 
 .headerStart {
  font-weight: 600;
  font-size: 20px;
} 


 .headerCenter {
  display: flex;
  width: 20rem;
  justify-content: space-around;
}
.headerLast {
  display: flex;
  width: 14rem;
  justify-content: space-around;
  align-items: center;
}  */


/* .App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
} */
/* .headerStart {
  font-weight: 600;
  font-size: 20px;
}
.headerCenter {
  display: flex;
  width: 20rem;
  justify-content: space-around;
}
.headerLast {
  display: flex;
  width: 14rem;
  justify-content: space-around;
  align-items: center;
} */

.container {

  &__wrapper {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 720px) {
  .container, .container-sm {
  max-width: 565px;
  padding: 0;
}

}

